/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@ng-select/ng-select/themes/default.theme.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';



a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #e01a76;
}

.body-blue{
  background-color: #2E2E2E;
}

body{
  background-color: #F5F5F5;
}


.btn-primary {
  color: #F5F5F5;
  background-color: #1E4D5B;
  border-color: #1E4D5B;
}

.btn-primary:hover {
  color: #F5F5F5;
  background-color: #2A6E7B;
  border-color: #2A6E7B;
}

.btn-primary:disabled {
  color: #F5F5F5;
  background-color: #1E4D5B;
  border-color: #1E4D5B;
}

.btn-danger{
  color: #F5F5F5;
  background-color: #8B0000;
  border-color: #8B0000;
}

.btn-danger:disabled{
  color: #F5F5F5;
  background-color: #8B0000;
  border-color: #8B0000;
}

.btn-danger:hover{
  color: #F5F5F5;
  background-color: #A52A2A;
  border-color: #A52A2A;
}

.mat-mdc-header-row{
  z-index: 0 !important;
  background-color: #404040!important;
  min-height: 43px;
  color: #F5F5F5!important;
}

.top10ClassesFodas {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.modalPedidos {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  max-height: 70%;
  max-width: 70%;
}

.cdk-overlay-container .cdk-global-overlay-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

[class*='mat-mdc-table'] > [class*='mat-column']:not(:last-child) {
  border-right: 1px solid currentColor;
}

.noDataRow {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mat-mdc-paginator-container {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

body {
  height: 100vh!important;
  overflow: auto;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline{
  border-color: #333 !important;
}

.mat-mdc-tab-body-wrapper{
  height: 100%;
}

