<h1 class="text-center">Cadastro de Usuários</h1>
<div *ngIf="formUsuario != undefined">
  <form class="row g-3 needs-validation" (ngSubmit)="salvarUsuario()" [formGroup]="formUsuario" #formDir="ngForm">
    <div class="col-md-6">
      <label for="usuario" class="form-label">Usuário</label>
      <input type="text" class="form-control" id="usuario" [(ngModel)]="usuario.usuario" formControlName="usuario" required>
      <div class="invalid-feedback">Campo obrigatório</div>
    </div>
    <div class="col-md-6">
      <label for="senha" class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha" [(ngModel)]="usuario.senha" formControlName="senha" required>
      <div class="invalid-feedback">Campo obrigatório</div>
    </div>
    <div class="col-md-6">
      <label for="idPessoa" class="form-label">Pessoa</label>
      <ng-select class="customPessoa" name="idPessoa" [(ngModel)]="usuario.idPessoa" [virtualScroll]="true" id="idPessoa"
                 (change)="selecionarPessoa($event)" formControlName="idPessoa" required>
        <ng-option *ngFor="let pessoa of pessoas" [value]="pessoa.id">{{ pessoa.nome }}</ng-option>
      </ng-select>
      <div class="invalid-feedback">Campo obrigatório</div>
    </div>
    <div class="col-md-6">
      <label for="idGrupoUsuario" class="form-label">Grupo de Usuário</label>
      <ng-select class="customGrupoUsuario" name="idGrupoUsuario" [(ngModel)]="usuario.idGrupoUsuario" [virtualScroll]="true" id="idGrupoUsuario"
                 (change)="selecionarGrupoUsuario($event)" formControlName="idGrupoUsuario" required>
        <ng-option *ngFor="let grupo of grupoUsuario" [value]="grupo.id">{{ grupo.nome }}</ng-option>
      </ng-select>
      <div class="invalid-feedback">Campo obrigatório</div>
    </div>
    <div class="col-md-12 mx-auto" style="display: flex; justify-content: center;">
      <button class="btn btn-danger me-4" type="button" [routerLink]="['/../listaUsuarios']">Cancelar</button>
      <button class="btn btn-primary" type="submit">Salvar</button>
    </div>
  </form>
</div>
