<div>
  <h2>Tela de Venda</h2>
  <div style="font-size: 16px;"> {{ venda.dataVenda | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
  <div class="bodyVenda">
    <div *ngIf="mostrarMensagem" class="alert alert-warning" role="alert">
      <h1>{{ tituloMensagem }}</h1>
      <p>{{ textoMensagem }}</p>
    </div>
    <form [formGroup]="vendaForm">

      <mat-checkbox class="example-margin"  formControlName="vendaBalcao">Venda balcão?</mat-checkbox>

      <div class="selects" *ngIf="!venda.vendaBalcao">
        <label for="cliente">Cliente:</label>
        <ng-select formControlName="pessoaId" id="cliente" (change)="selecionarCliente()">
          <ng-option *ngFor="let cliente of Clientes" [value]="cliente.id">{{ cliente.nome }}</ng-option>
        </ng-select>
      </div>

      <div class="form-input" *ngIf="venda.vendaBalcao">
        <label for="quantidade">Nome cliente:</label>
        <input type="text" id="nomeCliente" formControlName="nomeCliente" name="clienteNome" required>
      </div>

      <div class="selects">
        <label for="produto">Produto:</label>
        <ng-select formControlName="produtoId" id="produto" (change)="selecionarProduto()">
          <ng-option *ngFor="let produto of Produtos" [value]="produto.id">{{ produto.nome }}</ng-option>
        </ng-select>
      </div>
      <div class="form-input">
        <label for="quantidade">Quantidade:</label>
        <input type="number" min="0" id="quantidade" formControlName="quantidade" name="quantidade" required>
      </div>
      <div class="form-input">
        <label for="preco">Preço:</label>
        <input type="text" id="preco" currencyMask formControlName="precoUnitario"
               [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}" name="preco" required>
      </div>
      <button class="btn btn-primary" type="button" (click)="adicionarItem()">Adicionar Item</button>
    </form>
  </div>
  <br/>
  <mat-table class='mat-elevation-z8' [dataSource]="dataSource" aria-labelledby="tableLabel">
    <ng-container matColumnDef="Produto">
      <mat-header-cell *matHeaderCellDef> Produto</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ item.produto.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Quantidade">
      <mat-header-cell *matHeaderCellDef> Quantidade</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ item.quantidade }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Preço">
      <mat-header-cell *matHeaderCellDef> Preço</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ formatarValorParaExibicao(item.precoUnitario) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="SubTotal">
      <mat-header-cell *matHeaderCellDef> Subtotal</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ formatarValorParaExibicao(item.subTotal) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Acoes">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item" style="display:flex; align-items:center; justify-content:center;">
        <button class="btn btn-danger" type="button" style="margin-right:8px" (click)="removerItem(item)"> <i class="bi bi-trash-fill"></i> </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                    style="background-color: white;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <tr class="mat-row noDataRow" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nenhum item adicionado!</td>
    </tr>
  </mat-table>
  <div class="ValorTotal">
    <button type="button" class="btn btn-danger" disabled><label>Valor Total: {{ calcularValorTotal() }}</label>
    </button>
  </div>
  <button class="btn btn-primary" type="button" (click)="abrirModalFinalizarVenda()">Finalizar Venda</button>
</div>
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ tituloMensagem }}</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ textoMensagem }}</p>
  </div>
</ng-template>

<ng-template #modalVenda let-modalvenda>
  <div class="modal-header">
    <h4 class="modal-title">Finalizar Venda</h4>
    <button mat-button (click)="fecharModalFinalizarVenda()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <br/>
    <br/>
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="primeiroStep" [editable]="false">
        <form [formGroup]="primeiroStep">

          <mat-checkbox *ngIf="venda.pessoaId" formControlName="vendaFiado" class="example-margin" >Venda Fiado?</mat-checkbox>

          <div *ngIf="venda.vendaFiado">
            <ng-template matStepLabel>Forma de pagamento:</ng-template>

            <mat-label>Selecione a forma de pagamento</mat-label>
            <ng-select formControlName="tipoPagamento" [(ngModel)]="tipoPagamentoSelecionado" name="pgto" id="pgto" (change)="changeFormaPagamento()" required>
              <ng-option *ngFor="let tp of TiposPagamentos" [value]="tp">{{ tp.nome }}</ng-option>
            </ng-select>

            <div *ngIf="parcelar">
              <ng-template matStepLabel>Quantidade parcelas:</ng-template>
              <ng-select formControlName="parcelas" [(ngModel)]="venda.parcelas" id="parcelas">
                <ng-option *ngFor="let p of [].constructor(tipoPagamentoSelecionado?.parcelas); let i = index">
                  [value]="i">{{ i }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="segundoStep" [editable]="false">
        <form>
          <ng-template matStepLabel>Finalizar venda</ng-template>
          <mat-label>Venda para {{ clienteNome }}</mat-label>
          <mat-label>Forma de pagamento: {{ tipoPagamentoSelecionado?.nome }}</mat-label>
          <div *ngIf="tipoPagamentoSelecionado != null && tipoPagamentoSelecionado.juros" >
            <mat-label>Total sem juros: {{ venda.valorTotal }}</mat-label>
            <mat-label>Juros: {{ venda.valorTotal }}</mat-label>
            <mat-label *ngIf="tipoPagamentoSelecionado?.parcelas">Parcelas:
              {{tipoPagamentoSelecionado?.parcelas }}x
              {{ (venda.valorTotal + (venda.valorTotal * tipoPagamentoSelecionado.juros / 100))
              / tipoPagamentoSelecionado.parcelas }}</mat-label>
          </div>
          <div *ngIf="tipoPagamentoSelecionado != null && !tipoPagamentoSelecionado.juros" >
            <mat-label>Total: {{ venda.valorTotal }}</mat-label>
            <mat-label *ngIf="tipoPagamentoSelecionado?.parcelas">Parcelas:
              {{tipoPagamentoSelecionado?.parcelas }}x
              {{ venda.valorTotal / tipoPagamentoSelecionado.parcelas }}</mat-label>
          </div>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button (click)="finalizarVenda()"> Finalizar venda</button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
    <br/>
    <br/>
  </div>
</ng-template>



<!--          <mat-table class='mat-elevation-z8' [dataSource]="dataSource" aria-labelledby="tableLabel">-->
<!--            <ng-container matColumnDef="Produto">-->
<!--              <mat-header-cell *matHeaderCellDef> Produto</mat-header-cell>-->
<!--              <mat-cell *matCellDef="let item"> {{ item.produto.nome }}</mat-cell>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="Quantidade">-->
<!--              <mat-header-cell *matHeaderCellDef> Quantidade</mat-header-cell>-->
<!--              <mat-cell *matCellDef="let item"> {{ item.quantidade }}</mat-cell>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="SubTotal">-->
<!--              <mat-header-cell *matHeaderCellDef> Subtotal</mat-header-cell>-->
<!--              <mat-cell *matCellDef="let item"> {{ formatarValorParaExibicao(item.subTotal) }}</mat-cell>-->
<!--            </ng-container>-->

<!--            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"-->
<!--                            style="background-color: white;"></mat-header-row>-->
<!--            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>-->
<!--          </mat-table>-->

