input[type="text"],
input[type="tel"],
input[type="number"],
input[type="date"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #808080;
  border-radius: 3px;
}

.form-input {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.selects {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}

.ng-select {
  width: 100%;
}

h2 {
  text-align: center;
}

label {
  display: block;
  padding-right: 10px;
}

.bodyVenda {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
}

.ValorTotal {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  padding-right: 100px;
  flex-wrap: nowrap;
  font-size: 20px;
}

