<div>
  <h2>Tela de Venda</h2>
  <div style="font-size: 16px;"> {{ venda.dataVenda | date: 'dd/MM/yyyy HH:mm:ss' }}</div>
  <div class="bodyVenda" *ngIf="vendaForm != undefined">
    <div *ngIf="mostrarMensagem" class="alert alert-warning" role="alert">
      <h1>{{ tituloMensagem }}</h1>
      <p>{{ textoMensagem }}</p>
    </div>
    <form [formGroup]="vendaForm" #formDir="ngForm">

      <mat-checkbox class="example-margin"  formControlName="vendaBalcao" (change)="vendaBalcaoChange()">Venda balcão?</mat-checkbox>

      <div class="selects" *ngIf="!getVendaBalcao()">
        <label for="cliente">Cliente:</label>
        <ng-select formControlName="pessoaId" id="cliente" (change)="selecionarCliente()">
          <ng-option *ngFor="let cliente of Clientes" [value]="cliente.id">{{ cliente.nome }}</ng-option>
        </ng-select>
      </div>

      <div class="form-input" *ngIf="getVendaBalcao()">
        <label for="quantidade">Cliente:</label>
        <input type="text" id="nomeCliente" formControlName="clienteNome" name="clienteNome" required>
      </div>

      <div class="selects">
        <label for="produto">Produto:</label>
        <ng-select formControlName="produtoId" id="produto" (change)="selecionarProduto()">
          <ng-option *ngFor="let produto of Produtos" [value]="produto.id">{{ produto.nome }}</ng-option>
        </ng-select>
      </div>
      <div class="form-input">
        <label for="quantidade">Quantidade:</label>
        <input type="number" min="0" id="quantidade" formControlName="quantidade" name="quantidade" required>
      </div>
      <div class="form-input">
        <label for="preco">Preço:</label>
        <input type="text" id="preco" currencyMask formControlName="preco"
               [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}" name="preco" required>
      </div>
      <button class="btn btn-primary" type="button" (click)="adicionarItem()">Adicionar Item</button>
    </form>
  </div>
  <br/>
  <mat-table class='mat-elevation-z8' [dataSource]="dataSource" aria-labelledby="tableLabel" ngSkipHydration>
    <ng-container matColumnDef="Produto">
      <mat-header-cell *matHeaderCellDef> Produto</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ item.produto.nome }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Quantidade">
      <mat-header-cell *matHeaderCellDef> Quantidade</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ item.quantidade }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Preço">
      <mat-header-cell *matHeaderCellDef> Preço</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ formatarValorParaExibicao(item.precoUnitario) }}</mat-cell>
      <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="SubTotal">
      <mat-header-cell *matHeaderCellDef> Subtotal</mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ formatarValorParaExibicao(item.subTotal) }}</mat-cell>
      <mat-footer-cell *matFooterCellDef> {{calcularValorTotal()}} </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="Acoes">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let item" style="display:flex; align-items:center; justify-content:center;">
        <button class="btn btn-danger" type="button" style="margin-right:8px" (click)="removerItem(item)"> <i class="bi bi-trash-fill"></i> </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                    style="background-color: white;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <tr class="mat-row noDataRow" *matNoDataRow>
      <td class="mat-cell" colspan="5">Nenhum item adicionado!</td>
    </tr>
  </mat-table>
  <div class="ValorTotal">
    <button type="button" class="btn btn-danger" disabled><label>Valor Total: {{ calcularValorTotal() }}</label>
    </button>
  </div>
  <button [disabled]="itensVenda.length === 0"  class="btn btn-primary" type="button" (click)="abrirModalFinalizarVenda()">Finalizar Venda</button>
</div>
<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ tituloMensagem }}</h4>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ textoMensagem }}</p>
  </div>
</ng-template>

<ng-template #modalVenda let-modalvenda class="modal fade bd-example-modal-lg">
  <div class="modal-header" style="justify-content: space-between;">
    <h4 class="modal-title" style="margin-top: 16px;">Finalizar Venda</h4>
    <button mat-button (click)="fecharModalFinalizarVenda()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-stepper linear #stepper >
      <mat-step [stepControl]="primeiroStep">
        <form [formGroup]="primeiroStep">
          <ng-template matStepLabel>Forma de pagamento:</ng-template>

          <mat-checkbox *ngIf="venda.pessoaId" formControlName="vendaFiado" class="example-margin" (click)="selecionaVendaFiado()"  >Venda Fiado?</mat-checkbox>

          <div *ngIf="!venda.vendaFiado">
            <mat-label>Selecione a forma de pagamento</mat-label>
            <ng-select formControlName="tipoPagamento" name="pgto" id="pgto" (change)="changeFormaPagamento()" required>
              <ng-option *ngFor="let tp of TiposPagamentos" [value]="tp"> {{ tp.nome }} </ng-option>
            </ng-select>

            <div *ngIf="parcelar && tipoPagamentoSelecionado" style="margin-top: 10px">
              <ng-template matStepLabel>Quantidade parcelas:</ng-template>
              <ng-select formControlName="parcelas" id="parcelas" (change)="changeParcelas()">
                <ng-option *ngFor="let p of [].constructor(tipoPagamentoSelecionado.parcelas); let i = index" [value]="i + 1">
                  {{ i + 1 }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div>
            <button mat-button matStepperNext (click)="avancaStep()">Próximo</button>
          </div>
        </form>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </mat-step>
      <mat-step [stepControl]="segundoStep">
        <form>
          <ng-template matStepLabel>Finalizar venda</ng-template>
          <mat-label>Venda para {{ venda.nomeCliente }}</mat-label>
          <mat-label>Forma de pagamento: {{ venda.vendaFiado ? "Fiado" : tipoPagamentoSelecionado?.nome  }}</mat-label>

          <div *ngIf="tipoPagamentoSelecionado != null && tipoPagamentoSelecionado.juros">
            <mat-label>Total sem juros: {{ calcularValorVenda() | currency }}</mat-label><br/>
            <mat-label>Juros: {{ tipoPagamentoSelecionado.juros }}%</mat-label><br/>
            <mat-label>Total com juros: {{ calcularValorVendaJuros() | currency }}</mat-label><br/>

            <mat-label *ngIf="tipoPagamentoSelecionado.parcelaEscolhida">Parcelas:
            {{ tipoPagamentoSelecionado.parcelaEscolhida }}x
            {{ tipoPagamentoSelecionado.valorParcela | currency }}
            </mat-label><br/>

            <div *ngIf="tipoPagamentoSelecionado.temResto">
              <mat-label>Última parcela:
                {{ tipoPagamentoSelecionado.ultimaParcelas | currency }}
              </mat-label>
            </div>
          </div>

          <div *ngIf="tipoPagamentoSelecionado != null && !tipoPagamentoSelecionado.juros">
            <mat-label>Total: {{ calcularValorVenda()| currency }}</mat-label>

            <mat-label *ngIf="tipoPagamentoSelecionado.parcelaEscolhida">Parcelas:
              {{ tipoPagamentoSelecionado.parcelaEscolhida }}x
              {{ tipoPagamentoSelecionado.valorParcela | currency }}
            </mat-label><br/>

            <div *ngIf="tipoPagamentoSelecionado.temResto">
              <mat-label>Última parcela:
                {{ tipoPagamentoSelecionado.ultimaParcelas | currency }}
              </mat-label>
            </div>
          </div>

          <div *ngIf="venda.vendaFiado">
            <mat-label>Total (Venda fiado): {{ calcularValorVenda() | currency }}</mat-label>
          </div>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button (click)="finalizarVenda()"> Finalizar venda</button>
          </div>
        </form>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </mat-step>
    </mat-stepper>
  </div>
</ng-template>



<!--          <mat-table class='mat-elevation-z8' [dataSource]="dataSource" aria-labelledby="tableLabel">-->
<!--            <ng-container matColumnDef="Produto">-->
<!--              <mat-header-cell *matHeaderCellDef> Produto</mat-header-cell>-->
<!--              <mat-cell *matCellDef="let item"> {{ item.produto.nome }}</mat-cell>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="Quantidade">-->
<!--              <mat-header-cell *matHeaderCellDef> Quantidade</mat-header-cell>-->
<!--              <mat-cell *matCellDef="let item"> {{ item.quantidade }}</mat-cell>-->
<!--            </ng-container>-->

<!--            <ng-container matColumnDef="SubTotal">-->
<!--              <mat-header-cell *matHeaderCellDef> Subtotal</mat-header-cell>-->
<!--              <mat-cell *matCellDef="let item"> {{ formatarValorParaExibicao(item.subTotal) }}</mat-cell>-->
<!--            </ng-container>-->

<!--            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"-->
<!--                            style="background-color: white;"></mat-header-row>-->
<!--            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>-->
<!--          </mat-table>-->

